*{
    margin: 0;
}
#logo{
    height:50%;
    width:10%;
}
#contenitore{
    height: 100%;
    width: 100%;
    background-image: url(../img/pattern.png);
    background-size: contain;
    background-color: aqua;

}
#primo_paragrafo{
    margin-top: 30px;
}
#ul{
    margin-top: 30px;
    margin-bottom: 30px;
}
#intestazione_tabella{
    background-color:rgb(62, 225, 225);
    text-align: left;
}
.sfondo{
    background-color:rgb(18, 255, 255) ;
    text-align: left;
}
.centrato{
    text-align: center;
}
#secondo{
    margin-top: 20px;
    margin-bottom: 20px;
}
#note{
    color: grey;
    margin-bottom: 20px;
}

