*{
    margin: 0;
}
#logo{
    height:50%;
    width:10%;
}
#contenitore{
    height: 100%;
    width: 100%;
    background-image: url(../img/pattern.png);
    background-size: contain;
    background-color: aqua;

}