*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.bg_azzurro{
    background-color: rgb(87, 156, 156);
    background-image: url(../img/pattern.png);
    background-size: 320px;

}
.logo{
    height: 50px;
    margin-top: 20px;
    margin-bottom: 10px;
}
a{
    text-decoration: none;
    color: aqua;
}
.margin_b{
    margin-bottom: 20px;
}
.color_gray{
    color: gray;
}